body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #e3e3e3;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: rgba(128, 186, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.menu-izq {
    display: flex;
    align-items: center;
    gap: 15px;
}

.perfil {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #686868;
    display: inline-block;
}


.titulo {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}


.nav-links a {
    margin-left: 0px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
}

.nav-links a:hover {
    color: #0a00be;
}


.contenido {
    max-width: 1100px;
    margin: 130px auto 50px;
    padding: 0 20px;
}

.titulo-central {
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
    color: #000000;
}


.contenedor-listas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}


.semestre {
    background: #ffffff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.semestre h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    color: #222;
}


.lista {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #000000;
}

.lista li {
    padding: 12px 10px;
    font-size: 16px;
    border-bottom: 1px solid #adadad;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 6px;
}

.lista li:last-child {
    border-bottom: none;
}


.lista li:hover {
    background: #42df5f22;  
    transform: translateX(6px);
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}


.footer {
    text-align: center;
    background: rgb(128, 186, 38);
    color: #000000;
    padding: 20px 0;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 720px) {
    .perfil { width: 44px; height: 44px; border-width: 2px; }
    .titulo-menu { display: none; }
    .nav-links { display: none; }
    .slides { width: 94%; height: 320px; }
}
