body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #e3e3e3;
}

h1 {
  letter-spacing: 5px;
  text-shadow: 0 0 10px #c7c8c7;
  
}

:root {
    --header-height: 95px;
    --sidebar-width: 250px;
}
* { 
    box-sizing: border-box; 
}

html { 
    scroll-behavior: smooth; 
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: rgba(128, 186, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    backdrop-filter: blur(5px);
    z-index: 1000;
}


.menu-izq { 
    display: flex; 
    align-items: center; 
    gap: 12px; 
}


.menu-icon {
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    cursor: pointer;
    user-select: none;
    padding: 8px 10px;
    border-radius: 8px;
    z-index: 1200;
    position: relative;
    font-weight: bold;
}


.perfil {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #686868;
    display: inline-block;
}

.nav-links a {
    margin-left: 0px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
}

.nav-links a:hover { color: #0a00be; }


.main-content {
    padding: calc(var(--header-height) + 24px) 20px 40px 20px;
    transition: margin-left 0.28s ease;
    max-width: 1200px;
    margin: 0 auto;
}


.titulo-carrera { 
    text-align: center; 
    padding: 10px 12px; 
}
.titulo-carrera h1 { 
    font-size: 48px; 
    margin: 6px 0; 
}
.titulo-carrera p { 
    color: #444; 
    font-size: 18px; 
    max-width: 900px; 
    margin: 0 auto; 
}

/* CarruselL */
.carousel { 
    margin-top: 10px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    position: relative; 
    padding-bottom: 0px; 
}
.slides {
    width: 60%;
    max-width: 1100px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0 14px 28px rgba(46, 15, 15, 0.2);
}
.slide { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    transition: opacity .8s ease-in-out; 
}
.slide.active { 
    opacity: 1 !important; 
}
.slide img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}



/* Flechas */
.prev, .next {
    position: absolute;
    top: 45%;
    font-size: 34px;
    background: #e3e3e3;
    color: rgb(0, 0, 0);
    border: none;
    
    cursor: pointer;
    border-radius: 12px;
}
.prev { 
    left: 15%; 
    transform: translateX(-50%); 
}
.next { 
    right: 15%; transform: translateX(50%); 
}


.dots { 
    position: absolute; 
    bottom: -22px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    gap: 8px; 
}
.dot { 
    width: 12px; 
    height: 12px; 
    border-radius: 50%; 
    background: #fff; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.15); 
}
.dot.active { 
    background: #111; 
}


.footer { 
    margin-top: 18px; 
    background: rgb(128, 186, 38); 
    color: #000000; 
    text-align: center; 
    padding: 20px 0; 
    font-size: 15px; 
}


.contenedor-texto {
    max-width: 900px;   
    margin: 0 auto;    
    padding: 0 15px;    
}

.negrita {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-align: left;
}

.descripcion {
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
}

.enlace-boton {
    
    text-decoration: none !important; 
  
}


/* Responsive */
@media (max-width: 720px) {
    .perfil { width: 44px; height: 44px; border-width: 2px; }
    .titulo-menu { display: none; }
    .nav-links { display: none; }
    .slides { width: 94%; height: 320px; }
}

