body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #e3e3e3;
}

.titulo{
    color: rgb(128, 186, 38);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: rgba(128, 186, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.nav-links a {
    margin-left: 0px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
    
}

.nav-links a:hover {
    color: #0a00be;
}


/*Formulario*/
.formulario-cita {
    width: 100%;
    max-width: 420px;
    margin: 120px auto 40px;
    padding: 25px;
    background: rgba(255,255,255,0.9);
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    text-align: center;
}

.img-cita {
    width: 150px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    text-align: left;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 15px;
}

input:invalid, textarea:invalid {
    border-color: rgb(17, 1, 194);
}

input:valid, textarea:valid {
    border-color: green;
}

.btn-enviar {
    background: #000000;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-enviar:hover {
    background: #333;
}

.footer {
    text-align: center;
    background: rgb(128, 186, 38);
    color: #000000;
    padding: 20px 0;
    margin-top: 40px;
}



.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 9999;
}


.alert-box {
    background: #ffffff;
    padding: 25px;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.alert-box h2 {
    margin: 0;
    color: #4CAF50;
}

.alert-box p {
    margin-top: 10px;
    color: #333;
}

.alert-box button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.alert-box button:hover {
    background: #43A047;
}

.alert-overlay.show {
    visibility: visible;
    opacity: 1;
}


/* Responsive */
@media (max-width: 720px) {
    .perfil { width: 44px; height: 44px; border-width: 2px; }
    .titulo-menu { display: none; }
    .nav-links { display: none; }
    .slides { width: 94%; height: 320px; }
}