<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ingeniería en Innovación Agrícola Sustentable</title>
    <link rel="icon" href="/static/img/favicon.ico" type="Image/x-icon">
    <meta name="description" content="Página ofical de la UES de San José del Rincón">
    <meta name="author" content="Rodolfo Cruz Ibarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/carreras.css" />
    <script src="/static/js/index.js" defer></script>
</head>
<body>

    <header class="menu">
        <div class="menu-izq">
            <a href="/asignaturas_agronomia" class="menu-icon enlace-boton" aria-label="Ir a asignaturas">Asignaturas</a>
            <img class="perfil" src="/static/img/agronomia.jpg" alt="Icono de la carrera">
        </div>

        <nav class="nav-links">
            <a href="/#">Inicio</a>
            <a href="/#oferta">Oferta educativa</a>
        </nav>
    </header>


    <main class="main-content">
        <section class="titulo-carrera">
            <h1>Ingeniería en Innovación Agrícola Sustentable</h1>
            <br>
            <p class="negrita">Objetivo:</p>
            <br>
            <p class="descripcion">
                Formar profesionistas con alto sentido humanista y de servicio en la disciplina de Ingeniería 
                en Innovación Agrícola Sustentable, a través de la integración multidisciplinaria de teorías, 
                métodos y técnicas que le permitan diseñar, instrumentar, optimizar, administrar e innovar sistemas 
                de producción, productos y servicios agrícolas, con enfoque sustentable, responsabilidad ética y 
                compromiso social.
            <br><br>
            <p class="negrita">Te puede interesar si cuentas con:</p>
            <br>
            <p class="descripcion">• El programa educativo de Ingeniería en Innovación Agrícola Sustentable está dirigido a 
                jóvenes interesados en una formación en el área de Ingeniería y Tecnología.</p>
            </p>
            <br>
            <p class="negrita">Al egresar contarás con el siguiente perfil:</p>
            <br>
            <p class="descripcion">• Los egresados/as en Ingeniería en Innovación Agrícola Sustentable, desarrollan 
                innovaciones en los sectores productivos y servicios agrícolas, basados en sistemas de producción 
                protegidas y no protegidas, considerando condiciones ecológicas y socioeconómicas de cada región.</p>

            
            <!-- CARRUSEL -->
        <section class="carousel" aria-label="Galería de imágenes">
            <div class="slides">
                <div class="slide"><img src="/static/img/agronomia/agronomia.jpg" alt="Imagen 1"></div>
                <div class="slide"><img src="/static/img/agronomia/uno.jpg" alt="Imagen 2"></div>
                <div class="slide"><img src="/static/img/agronomia/dos.jpg" alt="Imagen 3"></div>
                <div class="slide"><img src="/static/img/agronomia/tres.jpg" alt="Imagen 4"></div>
                <div class="slide"><img src="/static/img/agronomia/cuatro.jpg" alt="Imagen 5"></div>
                <div class="slide"><img src="/static/img/agronomia/cinco.jpg" alt="Imagen 6"></div>
                <div class="slide"><img src="/static/img/agronomia/seis.jpg" alt="Imagen 7"></div>
                <div class="slide"><img src="/static/img/agronomia/siete.jpg" alt="Imagen 8"></div>
            </div>

            <button class="prev" aria-label="Anterior">&#10094;</button>
            <button class="next" aria-label="Siguiente">&#10095;</button>

            <div class="dots" role="tablist" aria-label="Puntos del carrusel">
                <span class="dot active" role="tab" aria-selected="true"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
            </div>
        </section >
            <br>
            <br>
            <br>
             <p class="negrita">El campo de trabajo puede ser:</p>
             <br>
             <p class="descripcion">• Dependencias gubernamentales en el diseño de políticas, planes y 
                estrategias en el uso sustentable de los recursos naturales, actividades de producción agrícola, 
                riego, nutrición, manejo de plagas, enfermedades, entre otras.</p>
                <br>
             <p class="descripcion">• Organizaciones no gubernamentales en el diseño, instrumentación y operación de 
                cultivos orgánicos e invernaderos con enfoque sustentable.</p>
            <br>
        </section>

    </main>

    <footer class="footer">© 2025 – Todos los derechos reservados.</footer>

</body>
</html>
