<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas por Semestre</title>
    <link rel="icon" href="/static/img/favicon.ico" type="Image/x-icon">
    <meta name="description" content="Página ofical de la UES de San José del Rincón">
    <meta name="author" content="Rodolfo Cruz Ibarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/asignaturas.css">
</head>
<body>

 
    <header class="menu">
        <div class="menu-izq">
            <img class="perfil" src="/static/img/contaduria.png" alt="Icono de la carrera">
            <h1 class="titulo">Licenciatura en Contaduría</h1>
        </div>

        <nav class="nav-links">
            <a href="/#">Inicio</a>
            <a href="/contaduria">Acerca de la carrera</a>
        </nav>
    </header>

   
    <main class="contenido">
        <h2 class="titulo-central">Asignaturas por Semestre</h2>

        <div class="contenedor-listas">

           
            <div class="semestre">
                <h3>1er Semestre</h3>
                <ul class="lista">
                    <li>CONTABILIDAD BÁSICA</li>
                    <li>ADMINISTRACIÓN GENERAL</li>
                    <li>INTRODUCCIÓN AL DERECHO CIVIL</li>
                    <li>DINÁMICA PSICOSOCIAL</li>
                    <li>MATEMÁTICAS ADMINISTRATIVAS</li>
                    <li>TALLER DE INFORMÁTICA</li>
                    <li>INGLÉS I</li>
                    
                </ul>
            </div>

            <div class="semestre">
                <h3>2do Semestre</h3>
                <ul class="lista">
                    <li>CONTABILIDAD INTERMEDIA I</li>
                    <li>ADMINISTRACIÓN DE RECURSOS HUMANOS I</li>
                    <li>DERECHO CONSTITUCIONAL, ADMINISTRATIVO E INTERNACIONAL</li>
                    <li>FUNDAMENTOS DE INVESTIGACIÓN</li>
                    <li>MATEMÁTICAS FINANCIERAS</li>
                    <li>TALLER DE INFORMÁTICA II</li>
                    <li>ESTADÍSTICA ADMINISTRATIVA II</li>
                    <li>INGLÉS II</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>3er Semestre</h3>
                <ul class="lista">
                    <li>CONTABILIDAD INTERMEDIA II</li>
                    <li>ADMINISTRACIÓN DE RECURSOS HUMANOS II</li>
                    <li>DERECHO LABORAL</li>
                    <li>DERECHO MERCANTIL</li>
                    <li>SEMINARIO DE ÉTICA</li>
                    <li>ECONOMÍA EMPRESARIAL</li>
                    <li>ESTADÍSTICA ADMINISTRATIVA II</li>
                    <li>INGLÉS III</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>4to Semestre</h3>
                <ul class="lista">
                    <li>TEORÍA CONTABLE</li>
                    <li>COSTOS HISTÓRICOS</li>
                    <li>DERECHO FISCAL</li>
                    <li>TALLER DE INVESTIGACIÓN I</li>
                    <li>DESARROLLO SUSTENTABLE</li>
                    <li>ENTORNO MACROECONÓMICO DE LAS ORGANIZACIONES</li>
                    <li>FINANZAS I</li>
                    <li>INGLÉS IV</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>5to Semestre</h3>
                <ul class="lista">
                    <li>CONTABILIDAD SUPERIOR</li>
                    <li>COSTOS PREDETERMINADOS</li>
                    <li>IMPUESTOS I</li>
                    <li>COMERCIO EXTERIOR</li>
                    <li>AUDITORÍA FINANCIERA I</li>
                    <li>ECONOMÍA INTERNACIONAL</li>
                    <li>FINANZAS II</li>
                    <li>INGLÉS V</li>
                </ul>
            </div>

           
            <div class="semestre">
                <h3>6to Semestre</h3>
                <ul class="lista">
                    <li>CONTABILIDAD DE SOCIEDADES</li>
                    <li>PRESUPUESTOS</li>
                    <li>IMPUESTOS II</li>
                    <li>TALLER DE INVESTIGACIÓN II</li>
                    <li>AUDITORÍA FINANCIERA II</li>
                    <li>TALLER DE INFORMÁTICA III</li>
                    <li>FINANZAS III</li>
                    <li>INGLÉS VI</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>7mo Semestre</h3>
                <ul class="lista">
                    <li>COSTOS PARA LA TOMA DE DECISIONES</li>
                    <li>IMPUESTOS III</li>
                    <li>ADMINISTRACIÓN DE OPERACIONES</li>
                    <li>AUDITORÍA FISCAL</li>
                    <li>SEMINARIO DE DERECHO FISCAL</li>
                    <li>ELABORACIÓN Y EVALUACIÓN DE PROYECTOS</li>
                    <li>INGLÉS VII</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>8vo Semestre</h3>
                <ul class="lista">
                    <li>SEMINARIO DE CONTADURÍA</li>
                    <li>HABILIDADES DIRECTIVAS</li>
                    <li>CONTABILIDAD GUBERNAMENTAL</li>
                    <li>TALLER DE PRÁCTICAS FISCALES</li>
                    <li>CONTABILIDAD BANCARIA</li>
                    <li>CONTABILIDAD HOTELERA</li>
                    <li>SEMINARIO DE TITULACIÓN</li>
                    <li>INGLÉS TÉCNICO I</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>9no Semestre</h3>
                <ul class="lista">
                    <li>RESIDENCIA PROFESIONAL</li>
                    <li>INGLÉS TÉCNICO II</li>
                </ul>
            </div>

        </div>
    </main>

 
    <footer class="footer">© 2025 – Todos los derechos reservados.</footer>

</body>
</html>
