<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas por Semestre</title>
    <link rel="icon" href="/static/img/favicon.ico" type="Image/x-icon">
    <meta name="description" content="Página ofical de la UES de San José del Rincón">
    <meta name="author" content="Rodolfo Cruz Ibarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/asignaturas.css">
</head>
<body>

   
    <header class="menu">
        <div class="menu-izq">
            <img class="perfil" src="/static/img/agronomia.jpg" alt="Icono de la carrera">
            <h1 class="titulo">Ingeniería en Innovación Agrícola Sustentable</h1>
        </div>

        <nav class="nav-links">
            <a href="/#">Inicio</a>
            <a href="/agronomia">Acerca de la carrera</a>
        </nav>
    </header>

 
    <main class="contenido">
        <h2 class="titulo-central">Asignaturas por Semestre</h2>

        <div class="contenedor-listas">

            
            <div class="semestre">
                <h3>1er Semestre</h3>
                <ul class="lista">
                    <li>MATEMÁTICAS</li>
                    <li>QUÍMICA</li>
                    <li>TALLER DE ELEMENTOS DE MECÁNICA DE SÓLIDOS</li>
                    <li>BIOLOGÍA</li>
                    <li>INTRODUCCIÓN A LAS TECNOLOGÍAS DE LA INFORMACIÓN</li>
                    <li>SEMINARIO DE ÉTICA</li>
                    <li>DESARROLLO SUSTENTABLE</li>
                    <li>INGLÉS I</li>
                    
                </ul>
            </div>

            <div class="semestre">
                <h3>2do Semestre</h3>
                <ul class="lista">
                    <li>MATEMÁTICAS II</li>
                    <li>QUÍMICA ANALÍTICA</li>
                    <li>ECOLOGÍA</li>
                    <li>ELEMENTOS DE TERMODINÁMICA</li>
                    <li>BOTÁNICA APLICADA</li>
                    <li>ESTADÍSTICA</li>
                    <li>FUNDAMENTOS DE INVESTIGACIÓN</li>
                    <li>INGLÉS II</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>3er Semestre</h3>
                <ul class="lista">
                    <li>MATEMÁTICAS III</li>
                    <li>EDAFOLOGÍA</li>
                    <li>DISEÑO AGRÍCOLA ASISTIDO POR COMPUTADORA</li>
                    <li>BIOQUÍMICA</li>
                    <li>PRINCIPIOS DE ELECTROMECÁNICA</li>
                    <li>TOPOGRAFÍA</li>
                    <li>MÉTODOS ESTADÍSTICOS</li>
                    <li>INGLÉS III</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>4to Semestre</h3>
                <ul class="lista">
                    <li>HIDRÁULICA</li>
                    <li>AGROCLIMATOLOGÍA</li>
                    <li>DISEÑOS EXPERIMENTALES</li>
                    <li>FISIOLOGÍA VEGETAL</li>
                    <li>MICROBIOLOGÍA GENERAL</li>
                    <li>BASES DE DATOS Y SISTEMAS DE INFORMACIÓN GEOGRÁFICA</li>
                    <li>TALLER DE INVESTIGACIÓN I</li>
                    <li>INGLÉS IV</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>5to Semestre</h3>
                <ul class="lista">
                    <li>BIOLOGÍA MOLECULAR</li>
                    <li>NUTRICIÓN VEGETAL</li>
                    <li>SISTEMAS DE PRODUCCIÓN AGRÍCOLA</li>
                    <li>ENTOMOLOGÍA AGRÍCOLA</li>
                    <li>FITOPATOLOGÍA</li>
                    <li>SISTEMAS DE RIEGO SUPERFICIAL</li>
                    <li>INGLÉS V</li>
                </ul>
            </div>

   
            <div class="semestre">
                <h3>6to Semestre</h3>
                <ul class="lista">
                    <li>DESARROLLO COMUNITARIO</li>
                    <li>SISTEMAS DE RIEGO PRESURIZADO</li>
                    <li>AGROECOLOGÍA</li>
                    <li>OLERICULTURA</li>
                    <li>TALLER DE INVESTIGACIÓN II</li>
                    <li>INTRODUCCIÓN A LA AGRICULTURA PROTEGIDA</li>
                    <li>INGLÉS VI</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>7mo Semestre</h3>
                <ul class="lista">
                    <li>AGRONEGOCIOS I</li>
                    <li>INOCUIDAD ALIMENTARIO Y BIOSEGURIDAD</li>
                    <li>FERTIRRIGACIÓN</li>
                    <li>CONSTRUCCIÓN Y MANEJO DE INVERNADEROS</li>
                    <li>RECICLAJE DE PRODUCTOS Y SUBPRODUCTOS</li>
                    <li>CULTIVOS HIDROPÓNICOS</li>
                    <li>INGLÉS VII</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>8vo Semestre</h3>
                <ul class="lista">
                    <li>AGRONEGOCIOS II</li>
                    <li>PLASTICULTURA</li>
                    <li>COSECHA DE AGUA</li>
                    <li>FLORICULTURA</li>
                    <li>MANEJO DE POSCOSECHA</li>
                    <li>PRODUCTOS ORGÁNICOS EN LA AGRICULTURA</li>
                    <li>INGLÉS TÉCNICO I</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>9no Semestre</h3>
                <ul class="lista">
                    <li>RESIDENCIA PROFESIONAL</li>
                    <li>SEMINARIO DE TESIS</li>
                    <li>INGLÉS TÉCNICO II</li>
                </ul>
            </div>

        </div>
    </main>

    <footer class="footer">© 2025 – Todos los derechos reservados.</footer>

</body>
</html>
