<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas por Semestre</title>
    <link rel="icon" href="/static/img/favicon.ico" type="Image/x-icon">
    <meta name="description" content="Página ofical de la UES de San José del Rincón">
    <meta name="author" content="Rodolfo Cruz Ibarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/asignaturas.css">
</head>
<body>

  
    <header class="menu">
        <div class="menu-izq">
            <img class="perfil" src="/static/img/sistemas.jpg" alt="Icono de la carrera">
            <h1 class="titulo">Ingeniería en Sistemas Computacionales</h1>
        </div>

        <nav class="nav-links">
            <a href="/#">Inicio</a>
            <a href="/sistemas">Acerca de la carrera</a>
        </nav>
    </header>

 
    <main class="contenido">
        <h2 class="titulo-central">Asignaturas por Semestre</h2>

        <div class="contenedor-listas">

       
            <div class="semestre">
                <h3>1er Semestre</h3>
                <ul class="lista">
                    <li>DIBUJO</li>
                    <li>FUNDAMENTOS DE PROGRAMACIÓN	</li>
                    <li>MATEMÁTICAS PARA COMPUTACIÓN</li>
                    <li>MATEMÁTICAS I</li>
                    <li>FÍSICA I</li>
                    <li>SEMINARIO DE ÉTICA</li>
                    <li>INTRODUCCIÓN A LA INGENIERÍA EN SISTEMAS COMPUTACIONALES</li>
                    <li>INGLÉS I</li>
                    
                </ul>
            </div>

            <div class="semestre">
                <h3>2do Semestre</h3>
                <ul class="lista">
                    <li>PROBABILIDAD Y ESTADÍSTICA</li>
                    <li>PROGRAMACIÓN ORIENTADA A OBJETOS</li>
                    <li>QUÍMICA</li>
                    <li>MATEMÁTICAS II</li>
                    <li>FUNDAMENTOS DE INVESTIGACIÓN</li>
                    <li>DESARROLLO SUSTENTABLE</li>
                    <li>INGLÉS II</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>3er Semestre</h3>
                <ul class="lista">
                    <li>ADMINISTRACIÓN</li>
                    <li>TÓPICOS SELECTOS DE PROGRAMACIÓN</li>
                    <li>ESTRUCTURA DE DATOS</li>
                    <li>MATEMÁTICAS III</li>
                    <li>FÍSICA II</li>
                    <li>MATEMÁTICAS IV</li>
                    <li>INGLÉS III</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>4to Semestre</h3>
                <ul class="lista">
                    <li>TEORÍA DE LA COMPUTACIÓN</li>
                    <li>TALLER DE INVESTIGACIÓN I</li>
                    <li>FUNDAMENTOS DE BASES DE DATOS</li>
                    <li>MATEMÁTICAS V</li>
                    <li>CIRCUITOS ELÉCTRICOS Y ELECTRÓNICOS</li>
                    <li>INVESTIGACIÓN DE OPERACIONES</li>
                    <li>INGLÉS IV</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>5to Semestre</h3>
                <ul class="lista">
                    <li>PROGRAMACIÓN DE SISTEMAS</li>
                    <li>TEORÍA DE LAS TELECOMUNICACIONES</li>
                    <li>TALLER DE BASES DE DATOS</li>
                    <li>MÉTODOS NUMÉRICOS</li>
                    <li>ARQUITECTURA DE COMPUTADORAS</li>
                    <li>LENGUAJE ENSAMBLADOR</li>
                    <li>INGLÉS V</li>
                </ul>
            </div>

            
            <div class="semestre">
                <h3>6to Semestre</h3>
                <ul class="lista">
                    <li>TALLER DE INVESTIGACIÓN II</li>
                    <li>REDES DE COMPUTADORAS</li>
                    <li>SIMULACIÓN</li>
                    <li>FUNDAMENTOS DE DESARROLLO DE SISTEMAS</li>
                    <li>INTERFACES</li>
                    <li>INGLÉS VI</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>7mo Semestre</h3>
                <ul class="lista">
                    <li>PROGRAMACIÓN WEB</li>
                    <li>SISTEMAS OPERATIVOS</li>
                    <li>GRAFICACIÓN</li>
                    <li>PLANIFICACIÓN Y MODELADO</li>
                    <li>CONTABILIDAD FINANCIERA</li>
                    <li>SISTEMAS OPERATIVOS DISTRIBUIDOS I</li>
                    <li>INGLÉS VII</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>8vo Semestre</h3>
                <ul class="lista">
                    <li>CULTURA EMPRESARIAL</li>
                    <li>FORMULACIÓN Y EVALUACIÓN DE PROYECTOS DE INVERSIÓN</li>
                    <li>INTELIGENCIA ARTIFICIAL I</li>
                    <li>DESARROLLO DE PROYECTOS DE SOFTWARE</li>
                    <li>SISTEMAS OPERATIVOS DISTRIBUIDOS II</li>
                    <li>APLICACIONES WEB</li>
                    <li>INGLÉS TÉCNICO I</li>
                </ul>
            </div>

            <div class="semestre">
                <h3>9no Semestre</h3>
                <ul class="lista">
                    <li>RESIDENCIA PROFESIONAL</li>
                    <li>BASES DE DATOS DISTRIBUIDAS</li>
                    <li>PROGRAMACIÓN WEB CON BASES DE DATOS</li>
                    <li>INGLÉS TÉCNICO II</li>
                </ul>
            </div>

        </div>
    </main>

    <footer class="footer">© 2025 – Todos los derechos reservados.</footer>

</body>
</html>
