<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Licenciatura en Contaduría</title>
    <link rel="icon" href="/static/img/favicon.ico" type="Image/x-icon">
    <meta name="description" content="Página ofical de la UES de San José del Rincón">
    <meta name="author" content="Rodolfo Cruz Ibarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/carreras.css" />
    <script src="/static/js/index.js" defer></script>
</head>

<body>

    <header class="menu">
        <div class="menu-izq">
            <a href="/asignaturas_contaduria" class="menu-icon enlace-boton" aria-label="Ir a asignaturas">Asignaturas</a>
            <img class="perfil" src="/static/img/contaduria.png" alt="Icono de la carrera">
        </div>


        <nav class="nav-links">
            <a href="/#">Inicio</a>
            <a href="/#oferta">Oferta educativa</a>
        </nav>
    </header>


    <main class="main-content">
        <section class="titulo-carrera">
            <h1>Licenciatura en Contaduría</h1>
            <br>
            <p class="negrita">Objetivo:</p>
            <br>
            <p class="descripcion">
                Formar profesionales que generen, analicen e interpreten información financiera para 
                la toma de decisiones, que protejan a las organizaciones de los riesgos económicos y 
                contribuyan a lograr su competitividad en el entorno global.
            <br><br>
            <p class="negrita">Te puede interesar si cuentas con:</p>
            <br>
            <p class="descripcion">• Adaptabilidad y organización.</p>
            <p class="descripcion">• Vocación de servicio sustentado en valores éticos y de responsabilidad.</p>
            <p class="descripcion">• Discreción y confiabilidad en el desempeño de actividades.
            </p>
            <br>
            </p>
            <p class="negrita">Al egresar contarás con el siguiente perfil:</p>
            <br>
            <p class="descripcion">• Desarrollar, implementar y administrara el software de sistemas o de 
                aplicaciones que cumplan con los estándares de calidad con el fin de apoyar la productividad y 
                competitividad de las organizaciones.</p>
            <br>
            <p class="descripcion">• Diseñar interfaces hombre- máquina y máquina-máquina para la automatización de 
                sistemas electrónicos y/o mecánicos.</p>
                <br>
            <p class="descripcion">• Identificar las tecnologías de hardware proponiendo, desarrollando y manteniendo 
                aplicaciones eficientes.
            <br><br>
            <p class="descripcion">• Diseñar, desarrollar y administrar bases de datos conforme a los requerimientos 
                definidos, normas organizacionales de manejo y seguridad de la información, utilizando tecnologías emergentes.</p>
                <br>
            <p class="descripcion">• Integrar soluciones computacionales con diferentes tecnologías, plataformas y/o dispositivos.</p>
            <br>
            
            <!-- CARRUSEL -->
        <section class="carousel" aria-label="Galería de imágenes">
            <div class="slides">
                <div class="slide"><img src="/static/img/conta/conta.jpg" alt="Imagen 1"></div>
                <div class="slide"><img src="/static/img/conta/2.jpg" alt="Imagen 2"></div>
                <div class="slide"><img src="/static/img/conta/3.jpg" alt="Imagen 3"></div>
                <div class="slide"><img src="/static/img/conta/1.jpg" alt="Imagen 4"></div>
                <div class="slide"><img src="/static/img/conta/4.jpg" alt="Imagen 5"></div>
                <div class="slide"><img src="/static/img/conta/5.jpg" alt="Imagen 6"></div>
                <div class="slide"><img src="/static/img/conta/6.jpg" alt="Imagen 7"></div>
                <div class="slide"><img src="/static/img/conta/8.jpg" alt="Imagen 8"></div>
                
            </div>

            <button class="prev" aria-label="Anterior">&#10094;</button>
            <button class="next" aria-label="Siguiente">&#10095;</button>

            <div class="dots" role="tablist" aria-label="Puntos del carrusel">
                <span class="dot active" role="tab" aria-selected="true"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
                <span class="dot" role="tab" aria-selected="false"></span>
            </div>
        </section >
            <br>
            <br>
            <br>
             <p class="negrita">El campo de trabajo puede ser:</p>
             <br>
             <p class="descripcion">• Ejercicio independiente de la profesión a través de la implementación de la propia empresa.</p>
             <p class="descripcion">• Asesoría a empresas generadoras de productos y prestadoras de servicios.</p>
             <p class="descripcion">• Diseño de software, hardware y redes.</p>
             <p class="descripcion">• Mantenimiento de redes y equipo de cómputo.</p>

            <br>
        </section>

    </main>
    <footer class="footer">© 2025 – Todos los derechos reservados.</footer> 
</body>
</html>
