<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UES San José del Rincón</title>
    <link rel="icon" href="/static/img/favicon.ico" type="Image/x-icon">
    <meta name="description" content="Página ofical de la UES de San José del Rincón">
    <meta name="author" content="Rodolfo Cruz Ibarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer></script>

</head>
<body>

    <aside id="sidebar" class="sidebar" aria-hidden="true">
        <nav>
            <ul>
                <li><a>Desfile conmemorativo, 20 de nomviembre. 9:30 a.m.</a></li>
                <li><a>Concurso de robots el 05 de diciembre, por parte de la academia de Ingenieria en Sistemas Computacionales. 9:00 a.m.</a></li>
                <li><a>Elección del "Chico y Chica" UES San José del Rincón. 13:00 p.m.</a></li> 
            </ul>
        </nav>
    </aside>


    <header class="menu">
        <div class="logo">
             <button id="menu-btn" class="menu-icon" aria-label="Abrir menú" aria-expanded="false">Noticias</button>
        </div>


        <nav class="nav-links">
            <a href="#">Inicio</a>
            <a href="#oferta">Oferta educativa</a>
            <a href="#mision">Misión, visión y objetivo</a>
            <a href="/contacto">Contacto</a>

        </nav>


    </header>
    <div class="paleta">
    <div class="titulo-con-logos">
        <img src="/static/img/logo.png" class="logo-titulo logo-izq" alt="Logo izquierda">

        <h3 class="titulo-uni">Universidad Mexiquense del Bicentenario San José del Rincón</h3>


        <img src="/static/img/logo.png" class="logo-titulo logo-der" alt="Logo derecha">
    </div>
</div>


    <!-- CARRUSEL -->
    <section class="carousel">
        <div class="slides">
            <div class="slide active"><img src="/static/img/umb.jpg" alt="Imagen 1"></div>
            <div class="slide"><img src="/static/img/umb22.jpg" alt="Imagen 2"></div>
            <div class="slide"><img src="/static/img/umb33.jpg" alt="Imagen 3"></div>
            <div class="slide"><img src="/static/img/umb3.jpg" alt="Imagen 3"></div>
        </div>

        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>

        <div class="dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            
        </div>
    </section>
    <br><br>



    <!-- Carreras -->
    <section class="oferta" id="oferta">
        <br><br><br><br>
        <h2>Oferta Educativa</h2>
        <br><br><br>

        <div class="carreras">
            <div class="carrera">
                <a href="/agronomia">
                    <img src="/static/img/agronomia.jpg" alt="Ingeniería en Innovación Agrícola Sustentable">
                </a>
                <p>Ingeniería en Innovación Agrícola Sustentable</p>
            </div>

            <div class="carrera">
                <a href="/sistemas">
                    <img src="/static/img/sistemas.jpg" alt="Ingeniería en Sistemas Computacionales">
                </a>
                <p>Ingeniería en Sistemas Computacionales</p>
            </div>

            <div class="carrera">
                <a href="/contaduria">
                    <img src="/static/img/contaduria.png" alt="Licenciatura en Contaduría">
                </a>
                <p>Licenciatura en Contaduría</p>
            </div>
        </div>
        <br>
    </section>

    <section class="mision" id="mision">
        <div class="contenedor-texto">
        <br><br><br><br><br>
        <h1>Misión, visión y objetivo</h1>

    <p class="negrita">Misión</p>

    <p class="descripcion">
        Formar profesionistas íntegros, críticos y solidarios, capaces de comprender 
        y actuar en un mundo en constante transformación. La UMB impulsa una formación 
        integral de calidad, con base en el desarrollo de conocimientos, habilidades, 
        competencias, actitudes y valores, que favorezcan la inclusión, la equidad, el 
        desarrollo sostenible y la responsabilidad social, para contribuir al progreso regional, estatal y nacional.
    </p>
    

    <p class="negrita">Visión</p>

    <p class="descripcion">
        Ser una institución de educación superior pública reconocida en el Estado de México 
        y a nivel nacional, por su excelencia académica, su compromiso social y su impacto en 
        el desarrollo sostenible. La UMB aspira a consolidarse como un nodo de transformación y 
        desarrollo regional, mediante programas educativos pertinentes, flexibles y vinculados con 
        los sectores productivos y sociales, fomentando una sociedad inclusiva, justa y equitativa.
    </p>
    

    <p class="negrita">Objetivo</p>

    <p class="descripcion">
        Establecer y fortalecer un modelo eficiente de planeación institucional que impulse la 
        mejora continua del Sistema de Gestión Institucional, promueva el cumplimiento de los 
        requisitos normativos aplicables y garantice el desarrollo armónico de las funciones sustantivas 
        y de apoyo. Se prioriza la formación integral de estudiantes con capacidades intelectuales, creativas, 
        éticas y de liderazgo, comprometidos con la transformación positiva de la sociedad.
    </p>
    </section>

    
</div>
    <footer class="footer">© 2025 – Todos los derechos reservados.</footer>
</body>
</html>
